<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>main</string>
	<key>CFBundleExecutable</key>
	<string>main</string>
	<key>CFBundleIconFile</key>
	<string>PythonApplet.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.pythonmac.unspecified.main</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>main</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0.0</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright not specified</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>PyMainFileNames</key>
	<array>
		<string>__boot__</string>
	</array>
	<key>PyOptions</key>
	<dict>
		<key>alias</key>
		<true/>
		<key>argv_emulation</key>
		<false/>
		<key>emulate_shell_environment</key>
		<false/>
		<key>no_chdir</key>
		<false/>
		<key>prefer_ppc</key>
		<false/>
		<key>site_packages</key>
		<false/>
		<key>use_faulthandler</key>
		<false/>
		<key>use_pythonpath</key>
		<false/>
		<key>verbose</key>
		<false/>
	</dict>
	<key>PyResourcePackages</key>
	<array/>
	<key>PyRuntimeLocations</key>
	<array>
		<string>@executable_path/../Frameworks/Python.framework/Versions/3.9/Python</string>
		<string>/usr/local/opt/python@3.9/Frameworks/Python.framework/Versions/3.9/Python</string>
	</array>
	<key>PythonInfoDict</key>
	<dict>
		<key>PythonExecutable</key>
		<string>/Users/mars/Desktop/LogicAppOAuth/venv/bin/python</string>
		<key>PythonLongVersion</key>
		<string>3.9.13 (main, May 24 2022, 21:28:31) 
[Clang 13.1.6 (clang-1316.0.21.2)]</string>
		<key>PythonShortVersion</key>
		<string>3.9</string>
		<key>py2app</key>
		<dict>
			<key>alias</key>
			<true/>
			<key>template</key>
			<string>app</string>
			<key>version</key>
			<string>0.28.2</string>
		</dict>
	</dict>
	<key>includes</key>
	<array>
		<string>async-generator</string>
		<string>attrs</string>
		<string>autopep8</string>
		<string>azure-core</string>
		<string>azure-identity</string>
		<string>certifi</string>
		<string>cffi</string>
		<string>charset-normalizer</string>
		<string>cryptography</string>
		<string>h11</string>
		<string>idna</string>
		<string>msal</string>
		<string>msal-extensions</string>
		<string>outcome</string>
		<string>portalocker</string>
		<string>proxy-tools</string>
		<string>pycodestyle</string>
		<string>pycparser</string>
		<string>PyJWT</string>
		<string>pyobjc-core</string>
		<string>pyobjc-framework-Cocoa</string>
		<string>pyobjc-framework-WebKit</string>
		<string>pyOpenSSL</string>
		<string>PySocks</string>
		<string>python-dateutil</string>
		<string>python-decouple</string>
		<string>python-dotenv</string>
		<string>pywebview</string>
		<string>requests</string>
		<string>selenium</string>
		<string>six</string>
		<string>sniffio</string>
		<string>sortedcontainers</string>
		<string>toml</string>
		<string>trio</string>
		<string>trio-websocket</string>
		<string>typing_extensions</string>
		<string>undetected-chromedriver</string>
		<string>urllib3</string>
		<string>webdriver-manager</string>
		<string>websockets</string>
		<string>wsproto</string>
		<string></string>
	</array>
</dict>
</plist>
